

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой блог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h3>Мой Блог</h3>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                {% if current_user.is_authenticated %}
                    Hi {{ current_user.username }}!
                    <li><a href="{{ url_for('create_post') }}">Создать статью</a></li>
                    <li><a href="{{ url_for('logout') }}">Выход</a></li>

                {% else %}
                    <li><a href="{{ url_for('login') }}">Вход</a></li>
                    <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Мой Блог</p>
    </footer>
</body>
</html>
